app/config/parameters.yml
bin/
!bin/console
conf/
composer.lock
logs/
sessions/
tmp/
node_modules/
var/
!var/cache/.keepme
vendor/
www/.htaccess
www/bundles/
www/css/
www/js/
www/bower_components/
www/webassets/
phpunit.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/jsLinters/
.idea/modules.xml
.idea/inspectionProfiles/
.idea/copyright/
.idea/scopes/
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/jsLibraryMappings.xml
.idea/*.iml
.idea/libraries
.bowerrc
